<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/fashion_recommender</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
				
		<mapping resource="VO/countryVO.hbm.xml"/>
		<mapping resource="VO/stateVO.hbm.xml"/> 
		<mapping resource="VO/cityVO.hbm.xml"/>
		<mapping resource="VO/managecategoryVO.hbm.xml"/>
		<mapping resource="VO/managesubcategoryVO.hbm.xml"/>
		<mapping resource="VO/addproductVO.hbm.xml"/> 
		<mapping resource="VO/loginVO.hbm.xml"/>
		<mapping resource="VO/registerVO.hbm.xml"/>
		<mapping resource="VO/complainVO.hbm.xml"/>
		<mapping resource="VO/feedbackVO.hbm.xml"/>
		<mapping resource="VO/userproductVO.hbm.xml"/>
		<mapping resource="VO/cartMasterVO.hbm.xml"/>
		<mapping resource="VO/cartDetailVO.hbm.xml"/>
		<mapping resource="VO/checkoutVO.hbm.xml"/>
		</session-factory>
</hibernate-configuration>